@import './game.css';
@import './about.css';
@import './registration.css';
@import './welcome.css';
@import './menu.css';

@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);


@keyframes letters {
    0%{
      color: black;
    }
    30%{
        letter-spacing: 25px;
        }
    85%{
        letter-spacing: 8px;
    }
  }

  @-webkit-keyframes moveImg {
    0% {
        top:500px;
    }
    100% {
        top: 0px;
    }
  }


body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 14px;
}

h1{
  font-size: 15px
}


li:hover{
  text-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

header{
  padding: 10px;
  text-align: center;
  background: orange;
  color: white;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position:sticky; top:0; margin-top:-10px;
  color: #2c90c6;
  font-family: 'Titan One';
  text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
}

header:hover{
  text-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

.error {
  color: #F00;
  background-color: #FFF;
}
  

  footer {
    position: fixed;
    padding: 0.5%;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(216, 179, 17);
    color: black;
    font-family: 'Titan One';
    text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
}



.box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #FDD427;
    color: gray;
    font-size: 30px;
    border-radius: 20px;
    height: 60px;
    margin-top: 20px;
    width: 30%;
}
.box input[type="submit"]:hover {
	background: #FFB61C;
	color: black;
}


input {
	font-size: 1em;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
}

.screen_input {
	margin: 50px auto;
	width: 242px;
  margin-top: 10%;
}


.screen_input span {
	color: hsl(5, 50%, 57%);
	display: block;
	height: 48px;
	line-height: 48px;
	position: absolute;
	text-align: center;
	width: 36px;
}

.screen_input input {
	border: blue;
	height: 48px;
	outline: blue;
}

.screen_input input[type="text"],[type="number"],[type="quantity"],[type="color"] {
	background-color: #fff;
	border-top: 2px solid #2c90c6;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-radius: 5px 5px 0 0;
	color: #363636;
	padding-left: 36px;
	width: 204px;
}



.screen_input input[type="date"] {
	background-color: #fff;
	border-top: 2px solid #2c90c6;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-radius: 0 0 5px 5px;
	color: #363636;
	padding-left: 36px;
	width: 204px;
}

.screen_input input[type="password"] {
  background-color: #fff;
  border-top: 2px solid #2c90c6;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  color: #363636;
  padding-left: 36px;
  width: 204px;
}

.screen_input input[type="submit"] , [type="button"]{
	background-color: #2c90c6;
	border: 1px solid #2c90c6;
	border-radius: 15px;
  margin-top: 14px;
	color: #fff;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	width: 240px;
  cursor: pointer;
}

.screen_input input[type="submit"]:hover {
	background-color: #2c70c6;
  box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}


p:hover {
  text-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

.form{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}


*, *:before, *:after {
  box-sizing: inherit;
}

